.page-main>.container {
  justify-content: center;
}

.create-user,
.edit-user {
  width: 700px;
  border: 2px solid rgb(221, 218, 218);
  padding: 26px;
  color: #000;
  border-radius: 4px;
}

.create-user>h3,
.edit-user>h3 {
  text-align: center;
  font-size: 26px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: var(--primary-color);
}

.create-user>label,
.edit-user>label {
  font-size: 16px;
  margin-top: 26px;
  display: inline-block;
}

.create-user>input,
.edit-user>input {
  outline: none;
  border-radius: 4px;
  padding: 5px;
  width: 400px;
  border: 2px solid rgb(221, 218, 218);
}

#btn-create,
.btn-edit {
  border-radius: 4px;
  width: 100px;
  height: 30px;
  float: right;
  margin: 26px 26px 0px 0px;
  border: 1px solid rgb(221, 218, 218);
  color: var(--primary-color);
}

#btn-create:hover,
.btn-edit:hover {
  background-color: var(--primary-color);
  color: var(--while-color);
  cursor: pointer;
}
