//banner
.section-banner {
  margin-top: 86px;
  position: relative;
  .banner-imgage {
    display: block;
    overflow: hidden;
    img {
      transition: transform 0.5s;
    }
    img:hover {
      transform: scale(1.02);
    }
  }
  .tille-intro {
    @include positionCenter("top");
    color: $while-color;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
  }
  h2 {
    font-size: 66px;
    &>span {
      font-size: 36px;
      display: block;
    }
  }
  .btn-banner {
    display: inline-block;
    padding: 15px 20px;
    font-size: 14px;
    background-color: $black-color;
    margin-top: 36px;
    &:hover {
      background-color: $primary-color;
    }
  }
}

//intro
.section-intro {
  margin-top: 32px;
  .intro-list {
    height: 296px;
    justify-content: space-between;
  }
  .intro-item {
    width: 30%;
    position: relative;
    overflow: hidden;
    a {
      width: 100%;
      height: 100%;
      img {
        transition: transform 0.2s;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
  .item-text {
    @include positionCenter("top");
    left: 50px;
    font-size: 16px;
    color: $while-color;
    p:first-child {
      font-size: 22px;
    }
    p {
      font-size: 42px;
    }
  }
}

//post
.section-posts {
  margin-top: 86px;
  .post-list {
    justify-content: space-between;
  }
  .post-item {
    width: 30%;
    a {
      display: block;
      overflow: hidden;
      &>img {
        transition: transform 0.5s;
      }
      &>img:hover {
        transform: scale(1.05);
      }
    }
  }
  .post-tille {
    margin-top: 22px;
    font-size: 20px;
    color: $black-color;
    &:hover {
      color: $primary-color;
    }
  }
  .post-time,
  .post-content {
    color: $content-color;
    margin-top: 22px;
  }
  .post-time>time {
    color: $black-color;
  }
  .separation {
    border: 1px solid $content-color;
    margin-top: 86px;
  }
}

//product
.section-products {
  margin-top: 68px;
  text-align: center;
  .container {
    position: relative;
  }
  .type-product-item {
    display: inline-block;
    font-size: 20px;
    margin: 0 16px;
    color: $gray-color;
    &:hover {
      color: inherit;
      border-bottom: $primary-color 2px solid;
    }
    &:first-child {
      border-bottom: $primary-color 2px solid;
      color: inherit;
    }
  }
  .products-list {
    margin-top: 46px;
    flex-wrap: wrap;
  }
  .product-item {
    position: relative;
  }
  .product-image {
    position: relative;
    overflow: hidden;
    i {
      position: absolute;
      left: 10px;
      top: 10px;
      color: $primary-color;
      font-size: 20px;
      display: none;
    }
    &:hover .item-btn {
      display: block;
    }
    &:hover:after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #e5e5e5;
      opacity: 0.2;
    }
    &:hover .fa-solid {
      display: block;
    }
    &:hover .product-img {
      transform: scale(1.1);
    }
  }
  .product-img {
    transition: transform 0.2s;
  }
  .item-btn {
    @include positionCenter("left");
    top: 30%;
    z-index: 1;
    display: none;
  }
  .btn-product {
    display: block;
    width: 150px;
    height: 42px;
    margin-top: 12px;
    line-height: 42px;
    &:hover {
      opacity: 0.7;
    }
  }
  .product-tille {
    margin-top: 16px;
    color: $black-color;
    &:hover {
      color: $primary-color;
      cursor: pointer;
    }
  }
  .product-price {
    margin-top: 8px;
    font-weight: 400;
    display: block;
  }
  .product-color {
    margin-top: 8px;
    li {
      background-color: $black-color;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      border: 3px solid #e5e5e5;
      display: inline-block;
      margin: 0 4px;
      &:hover {
        opacity: 0.6;
        cursor: pointer;
      }
      &:first-child {
        background-color: red;
      }
      &:last-child {
        background-color: blue;
      }
    }
  }
  .btn-prev,
  .btn-next {
    @include positionCenter("top");
    padding: 10px 10px;
  }
  .btn-next {
    right: 42px;
  }
  .btn-prev {
    left: 42px;
  }
  .separation {
    border: 1px solid #eaebed;
    margin-top: 86px;
  }
}

//service
.section-services {
  margin-top: 86px;
  .service-item {
    text-align: center;
    i {
      color: $primary-color;
      font-size: 56px;
    }
  }
  .service-content {
    h3 {
      font-size: 20px;
      font-weight: 200;
      margin-top: 16px;
    }
    p {
      font-weight: 200;
      margin-top: 8px;
    }
  }
}

//slideshow 
.section-slideshow {
  position: relative;
  margin-top: 86px;
  .tille-intro {
    @include positionCenter("top");
    color: $while-color;
    font-family: sans-serif;
    font-weight: 900;
    h5 {
      font-size: 20px;
      font-weight: 400;
    }
    h1 {
      font-size: 52px;
      text-transform: uppercase;
      font-weight: 700;
    }
  }
}
.slideshow-list {
  .slideshow-item {
    height: 532px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.btn {
  margin-top: 16px;
  display: inline-block;
  padding: 12px 32px;
  text-align: center;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.7;
}
.paging {
  @include positionCenter("left");
  bottom: 20px;
  li {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: $primary-color;
    display: inline-block;
    margin: 0 5px;
    opacity: 0.5;
    &:first-child {
      opacity: 1;
    }
  }
}

//title
.section-page-tille {
  margin-top: 86px;
  text-align: center;
  font-weight: 300;
  .page-tille {
    font-size: 36px;
    font-weight: 200;
    text-transform: uppercase;
  }
  .tille-separation {
    margin-top: 16px;
    color: #878787;
  }
  .tille-desciption {
    margin-top: 16px;
    display: block;
    color: #878787;
  }
}

@import './homeResponsive';
