@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
$primary-font: "Poppins",sans-serif;
$primary-color: #ff8400;
$while-color: #fff;
$black-color: #222;
$hover-blue-color: #56cfe1;
$gray-color: #878787;
$bottom-color: #000000;
$content-color: #eaebed;
$font-size-base: 14px;
