.wrap-content {
  display: flex;
}

.wrap {
  flex-wrap: wrap;

  &-center {
    justify-content: center;
  }

  &-between {
    justify-content: space-between;
  }

  &-around {
    justify-content: space-around;
  }
}
