.App {
  text-align: center;
  .listPage {
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: 20px;
    li:first-child {
      margin-right: 10px;
    }
    a {
      text-decoration: none;
      color: cadetblue;
    }
  }
}
