.product-detail {
  .product-image {
    width: 200px;
  }

  .product-info {
    width: 500px;
    margin-left: 26px;
  }

  .product-title {
    font-size: 40px;
  }

  .product-price {
    font-size: 26px;
    color: rgb(245, 133, 15);
  }

  .product-category {
    font-size: 20px;
  }

  .product-description {

    font-style: italic;
  }

}
