$primary-font: "Poppins",
sans-serif;
$font-size-base: 14px;
$primary-color: #ff8400;
$while-color: #fff;
$black-color: #222;
$hover-blue-color: #56cfe1;
$gray-color: #878787;
$bottom-color: #000000;
$content-color: #eaebed;

//Breakpoints
$breakpoints: (
  mobile-s: 480px,
  mobile-l: 768px,
  tablet: 1024px,
);
