.section-products {
  margin-top: 68px;
  text-align: center;

  .container {
    position: relative;
  }

  .type-product-item {
    display: inline-block;
    font-size: 20px;
    margin: 0 16px;
    color: $gray-color;
  }

  .type-product-item:hover {
    color: inherit;
    border-bottom: $primary-color 2px solid;
  }

  .type-product-item:first-child {
    border-bottom: $primary-color 2px solid;
    color: inherit;
  }

  .products-list {
    margin-top: 46px;
    flex-wrap: wrap;
  }

  .product-item {
    position: relative;
  }

  .product-image {
    position: relative;
    overflow: hidden;
  }

  .product-image:hover .item-btn {
    display: block;
  }

  .product-image:hover:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e5e5e5;
    opacity: 0.2;
  }

  .product-image:hover .fa-solid {
    display: block;
  }

  .product-img {
    transition: transform 0.2s;
  }

  .product-image:hover .product-img {
    transform: scale(1.1);
  }

  .product-image>i {
    position: absolute;
    left: 10px;
    top: 10px;
    color: $primary-color;
    font-size: 20px;
    display: none;
  }

  .item-btn {
    @include positionCenter("left");
    top: 30%;
    z-index: 1;
    display: none;
  }

  .btn-product {
    display: block;
    width: 150px;
    height: 42px;
    margin-top: 12px;
    line-height: 42px;
  }

  .btn-product:hover {
    opacity: 0.7;
  }

  .product-tille {
    margin-top: 16px;
    color: $black-color;
  }

  .product-tille:hover {
    color: $primary-color;
    cursor: pointer;
  }

  .product-price {
    margin-top: 8px;
    font-weight: 400;
    display: block;
  }

  .product-color {
    margin-top: 8px;

    li {
      background-color: $black-color;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      border: 3px solid #e5e5e5;
      display: inline-block;
      margin: 0 4px;
    }

    li:hover {
      opacity: 0.6;
      cursor: pointer;
    }

    li:first-child {
      background-color: red;
    }

    li:last-child {
      background-color: blue;
    }
  }

  .btn-prev,
  .btn-next {
    padding: 10px 10px;
    @include positionCenter("top");
  }

  .btn-next {
    right: 42px;
  }

  .btn-prev {
    left: 42px;
  }

  .separation {
    border: 1px solid #eaebed;
    margin-top: 86px;
  }
}