.section-page-tille {
  margin-top: 86px;
  text-align: center;
  font-weight: 300;

  .page-tille {
    font-size: 36px;
    font-weight: 200;
    text-transform: uppercase;
  }

  .tille-separation {
    margin-top: 16px;
    color: #878787;
  }

  .tille-desciption {
    margin-top: 16px;
    display: block;
    color: #878787;
  }
	
}